[submodule ".3rdparty/hyperscan"]
	path = .3rdparty/hyperscan
	url = https://github.com/intel/hyperscan
[submodule ".k8s/tor-controller"]
	path = .k8s/tor-controller
	url = https://github.com/lucmichalski/tor-controller
[submodule ".docker/tor-hidden-service"]
	path = .docker/tor-hidden-service
	url = https://github.com/lucmichalski/docker-tor-hidden-service
[submodule ".k8s/tor-privoxy-alpine-chart"]
	path = .k8s/tor-privoxy-alpine-chart
	url = https://github.com/lucmichalski/tor-privoxy-alpine-chart
[submodule ".k8s/tor-relay"]
	path = .k8s/tor-relay
	url = https://github.com/lucmichalski/tor-relay
[submodule ".refs/silk-road-author-identification"]
	path = .refs/silk-road-author-identification
	url = https://github.com/lucmichalski/silk-road-author-identification
[submodule ".refs/dargle"]
	path = .refs/dargle
	url = https://github.com/lucmichalski/dargle
[submodule ".refs/dark-web-analysis"]
	path = .refs/dark-web-analysis
	url = https://github.com/lucmichalski/DarkWebAnalysis
[submodule ".refs/dark-wek-markets"]
	path = .refs/dark-wek-markets
	url = https://github.com/lucmichalski/darkwebmarkets
[submodule ".refs/dark-wek-analytics"]
	path = .refs/dark-wek-analytics
	url = https://github.com/lucmichalski/Dark-Web-Analytics
[submodule ".refs/dw-gan"]
	path = .refs/dw-gan
	url = https://github.com/lucmichalski/DW-GAN
[submodule ".refs/huntgraph"]
	path = .refs/huntgraph
	url = https://github.com/lucmichalski/huntgraph
[submodule ".refs/onion-crawler"]
	path = .refs/onion-crawler
	url = https://github.com/lucmichalski/onion-crawler
[submodule ".docker/trandoshan"]
	path = .docker/trandoshan
	url = https://github.com/lucmichalski/trandoshan
[submodule ".docker/onionize-docker"]
	path = .docker/onionize-docker
	url = https://github.com/lucmichalski/onionize-docker
[submodule ".docker/collective"]
	path = .docker/collective
	url = https://github.com/lucmichalski/collective
[submodule ".docker/docker-multitor"]
	path = .docker/docker-multitor
	url = https://github.com/lucmichalski/docker-multitor
[submodule ".k8s/weaviate-helm"]
	path = .k8s/weaviate-helm
	url = https://github.com/lucmichalski/weaviate-helm
[submodule ".docker/manticore"]
	path = .docker/manticore
	url = https://github.com/lucmichalski/docker
[submodule ".refs/darknet-economics"]
	path = .refs/darknet-economics
	url = https://github.com/lucmichalski/darknet-economics
[submodule ".refs/darc"]
	path = .refs/darc
	url = https://github.com/lucmichalski/darc
[submodule ".refs/dw-findingstore"]
	path = .refs/dw-findingstore
	url = https://github.com/lucmichalski/dw-findingstore
[submodule ".docker/docker-vanguards"]
	path = .docker/docker-vanguards
	url = https://github.com/lucmichalski/docker-vanguards
[submodule "shared/dataset/oniontree"]
	path = shared/dataset/oniontree
	url = https://github.com/lucmichalski/oniontree
[submodule ".docker/tor-mono"]
	path = .docker/tor-mono
	url = https://github.com/lucmichalski/mono
[submodule ".refs/tochka-source"]
	path = .refs/tochka-source
	url = https://github.com/lucmichalski/tochka-source
[submodule ".refs/eckmar-source"]
	path = .refs/eckmar-source
	url = https://github.com/lucmichalski/eckmar-source
[submodule ".refs/payaka"]
	path = .refs/payaka
	url = https://github.com/lucmichalski/payaka
[submodule ".refs/deep-learning-tor-traffic"]
	path = .refs/deep-learning-tor-traffic
	url = https://github.com/lucmichalski/DeepLearning-TorTraffic
