[submodule ".3rdparty/hyperscan"]
	path = .3rdparty/hyperscan
	url = https://github.com/intel/hyperscan
[submodule ".k8s/tor-controller"]
	path = .k8s/tor-controller
	url = https://github.com/lucmichalski/tor-controller
[submodule ".docker/tor-hidden-service"]
	path = .docker/tor-hidden-service
	url = https://github.com/lucmichalski/docker-tor-hidden-service
[submodule ".k8s/tor-privoxy-alpine-chart"]
	path = .k8s/tor-privoxy-alpine-chart
	url = https://github.com/lucmichalski/tor-privoxy-alpine-chart
[submodule ".k8s/tor-relay"]
	path = .k8s/tor-relay
	url = https://github.com/lucmichalski/tor-relay
